@import "bootstrap-sprockets";
@import "bootstrap";

/* header */
.navbar {
  height: 60px;
}

div #logo {
  margin: 0;
  float: left;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}